In [7]:
import pandas as pd

data1 = pd.read_csv('Gender Uses Social Media More By Platform.csv')
data2 = pd.read_csv('Gender Uses Social Media More By Region.csv')
data3 = pd.read_csv('Social Media Usage By Age.csv')
data4 = pd.read_csv('Social Media Usage By Country.csv')
data5 = pd.read_csv('What Are The Most Used Social Media Platforms.csv')
data6 = pd.read_csv('Average Number of Social Media Accounts By Years.csv')
data7 = pd.read_csv('Social Media Addiction Statistics Amongst Teenagers.csv')

In [8]:
data1.head()

  Social Media  Female User (%)  Male User (%)
0     Snapchat               60             40
1    Pinterest               78             22
2    Instagram               57             43
3     Facebook               44             56
4      Twitter               32             68

In [9]:
data2.head()

            Region Female Male
0    North America    54%  46%
1    South America    52%  48%
2   Western Europe    50%  50%
3  Southern Africa    52%  48%
4    Southern Asia    27%  73%

In [10]:
data3.head()

  Age Group Percentage (%)
0     18-29            84%
1     30-49            81%
2     50-64            73%
3       65+            45%

In [11]:
data4.head()

       Country Percentage (%)
0          UAE         105.5%
1  South Korea            92%
2    Hong Kong          89.9%
3  Netherlands          88.1%
4       Canada          85.7%

In [12]:
data5.head()

  Social Media Network  Users (in millions)
0             Facebook                2.853
1              YouTube                2.291
2             WhatsApp                2.000
3            Instagram                1.386
4   Facebook Messenger                1.300

In [13]:
data6.head()

   Years  Average Number of Social Media Accounts
0   2013                                      4.3
1   2014                                      4.8
2   2015                                      6.3
3   2016                                      7.6
4   2017                                      8.0

In [14]:
data7.head()

,Negative Social Media Affect,Low Emotional Well-Being (%),High Emotional Well-Being (%)
0,Sometimes I feel left out or excluded when usi...,70%,29%
1,Have deleted social media posts because they g...,43%,13%
2,Feel bad about themselves if no one “comments ...,43%,11%
3,Have ever been cyberbullied,35%,5%